In [42]:
import numpy as np
import pandas as pd

In [43]:
data = pd.read_excel("Problem_C_Data_Wordle.xlsx")
data

,Unnamed: 0,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X)
0,NaN,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2
1,NaN,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1
2,NaN,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2
3,NaN,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1
4,NaN,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,NaN,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1
353,NaN,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2
354,NaN,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4
355,NaN,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2
356,NaN,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1

In [44]:
words = data.loc[:, ["Word"]].values

In [45]:
length_error_index = []
for index, word in enumerate(words):
    if len(word[0]) != 5:
        print(word)
        length_error_index.append(index)

In [46]:
length_error_index

[]

In [47]:
alphabeta = "qwertyuiopasdfghjklzxcvbnm"
letter_error_index = []
for index, word in enumerate(words):
    for letter in word[0]:
        if letter not in alphabeta:
            letter_error_index.append(index)
            print(word)